/* PRINT
-------------------------------------------------------------- */
body { padding: 10px; background: #fff; }
#toolbar, #header .branding p, #header form, #nav, .sidebar, .feed { display: none; }

/* Obits */
body.obit_detail #comments, body.obit_detail #footer, body.obit_detail #login, body.obit_detail .social_registration, body.obit_detail ul.object_tools { display: none; }
body.obit_detail .title_info {border-bottom:none;}

.permalinkable a.permalink {display:none;}
